<div class="about" >
    <div class="inner">
      <h3 style="border:0px solid white;margin:0;"><img src="../../assets/rate.png" width="300"></h3>
      <h1  style="border:0px solid white;margin:0;">ABOUT US </h1>
      <h3>Our mission</h3>
      <p>We believe in real food and that everyone deserves<br> access to healthy and tasty food.<br>
       We provide nutricious options to customers.<br>
       The demand of healthy food is on rise <br>and we are determined to meet the demand.<br>
       <a href="#zatemnenie" class="list listLinks">Find Us!</a>
      </p>
    </div>
    <div id="zatemnenie">
      <div class="map">
        <div class="top">
          <li class="title">IFoodKBTU!</li>
          <li style="list-style:none;"> <a href="#" class="exitIcon"><i class="fas fa-times"> </i></a> </li>
        </div>
        <div class="mapBody">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2905.796873575364!2d76.9410466508358!3d43.25567877903449!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38836e95db9d5077%3A0x826ad73ab97f6e5!2z0JrQsNC30LDRhdGB0YLQsNC90YHQutC-LdCR0YDQuNGC0LDQvdGB0LrQuNC5INCi0LXRhdC90LjRh9C10YHQutC40Lkg0KPQvdC40LLQtdGA0YHQuNGC0LXRgiwg0YPQu9C40YbQsCDQotC-0LvQtSDQkdC4IDU5LCDQkNC70LzQsNGC0YsgMDUwMDAw!5e0!3m2!1sru!2skz!4v1557327812809!5m2!1sru!2skz" width="100%;" height="100%;" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
   
</div>